<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132358679195-l2gosfdm919g1m9a375c87e42qn28dmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132358679195-l2gosfdm919g1m9a375c87e42qn28dmp</string>
	<key>API_KEY</key>
	<string>AIzaSyDL0NfgkP5qRu0z5wkeObdEVlTbqaIbgjM</string>
	<key>GCM_SENDER_ID</key>
	<string>132358679195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nikita.MoneyFlow</string>
	<key>PROJECT_ID</key>
	<string>moneyflow-a7f44</string>
	<key>STORAGE_BUCKET</key>
	<string>moneyflow-a7f44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:132358679195:ios:0fccb98be2467de351f43e</string>
	<key>DATABASE_URL</key>
	<string>https://moneyflow-a7f44.firebaseio.com</string>
</dict>
</plist>
